body{
    color: hotpink;
}
#group_1{
    color: darkgoldenrod;
}
#lista_u{
    color: magenta;
}
#lista_item1{
    color: green;
}
#lista_item2{
    color: blue;
}
#lista_item3{
    color: yellow;
}
#lista_item4{
    color: red;
}
#link_1{
    text-decoration: overline;
}
#link_2{
    text-decoration: none;
}
#link_3{
    text-decoration: underline;
}
#link_4{
    text-decoration: none;
}
#link_5{
    text-decoration: line-through;
}
p{
    background-color: black;
    color: white;
    margin: 25px 10px 5px 15px;
    text-align: justify;
    text-indent: 50px;
}
#pEspecial{
    color: lime;
    background-color: darkblue;
    text-transform: uppercase;
    line-height: 2;
    text-decoration: none;
    text-align: center;
}
#p1{text-decoration: line-through;}
#p2{text-decoration: overline;}
#p3{text-decoration: underline;}
#cuadro{
    border: 5px solid black;
}
#cuadro th,#cuadro td{
    border: 1px dotted black;
}
.alterno{
    background-color: gray;
}
#cuadro th:hover, #cuadro td:hover{
    background-color: aqua;
    color:black;
}
th:hover, td:hover{
    background-color: goldenrod;
    color:white;
    font-size: 30px;
}
h1:hover,h2:hover,h3:hover{
  color: rgb(0, 0, 0);
  background-color: #2f4f4f;
  text-transform: uppercase;
  text-shadow: white 3px 3px 3px;
  font-size: 200%;
}
#tablaColores{
    color: black;
    font-family: 'Delicious Handrawn', "cursive";
}
#color1{color: rgb(255,0,0);}
#color2{color:  rgb(255, 64, 0);}
#color3{color:  rgb(255,128,0);}
#color4{color:  rgb(255,191,0);}
#color5{color:  rgb(255,255,0);}
#color6{color:  rgb(191,255,0);}
#color7{color:  rgb(128,255,0);}
#color8{color:  rgb(64,255,0);}
#color9{color:  rgb(0,255,0);}
#color10{color:  rgb(0,255,64);}
#color11{color:  rgb(0,255,128);}
#color12{color:  rgb(0,255,191);}
#color13{color:  rgb(0,255,255);}
#color14{color:  rgb(0,191,255);}
#color15{color:  rgb(0,128,255)}
#color16{color:  rgb(0,64,255);}
#color17{color:  rgb(0,0,255);}
#color18{color:  rgb(64,0,255);}
#color19{color:  rgb(128,0,255);}
#color20{color:  rgb(191,0,255);}
#color21{color:  rgb(255,0,255);}
#color22{color:  rgb(255,0,191);}
#color23{color:  rgb(255,0,128);}
#color24{color:  rgb(255,0,64);}
